<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

<!--    <filter>
        <filter-name>mf1</filter-name>
        <filter-class>cn.itcast.MyFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>mf1</filter-name>
        <url-pattern>/*</url-pattern>
&lt;!&ndash;        <url-pattern>/login.html</url-pattern>&ndash;&gt;
&lt;!&ndash;        <url-pattern>*.html</url-pattern>&ndash;&gt;
    </filter-mapping>

    <context-param>
        <param-name>xxx</param-name>
        <param-value>/db.properties</param-value>
    </context-param>

    <listener>
        <listener-class>cn.itcast.MyListener</listener-class>
    </listener>-->
</web-app>