<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>xxx</servlet-name>
        <servlet-class>cn.itcast02.MyServlet1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>xxx</servlet-name>
        <url-pattern>/helloServlet</url-pattern>
        <!--url-pattern是配置的servlet这个类的请求资源路径-->
    </servlet-mapping>


    <servlet>
        <servlet-name>yyy</servlet-name>
        <servlet-class>cn.itcast02.MyServlet3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>yyy</servlet-name>
        <url-pattern>/aaa</url-pattern>
        <!--url-pattern是配置的servlet这个类的请求资源路径-->
    </servlet-mapping>
</web-app>